exportPattern("^[[:alpha:]]+")
import(parallel, gsubfn, caret)
export(classVarImp,
	dataPreprocess,
	fscaret,
	funcRegPred,
	impCalc,
	installPckg,
	MSE,
	regVarImp,
	requiredPackages,
	RMSE,
	timeout)
